@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body,
body * {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  margin: 0;
  padding: 0;
  width: 600px;
  height: 400px;
}
.flex-item {
  display: flex;
  align-items: center;
}
.gap-1 {
  gap: 1rem;
}
.flex-col {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.5rem;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.m-3 {
  margin: 1.5rem;
}
.m-4 {
  margin: 2rem;
}
.mb-10px {
  margin-bottom: 10px;
}
.maxh-42px {
  max-height: 42px;
}
.minw-160px {
  min-width: 130px;
}
header {
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}
main {
  height: calc(100vh - 58px - 31px);
}
.bg-f9f9f9 {
  background-color: #f9f9f9;
}
.h-100 {
  height: 100%;
}
textarea {
  border: 0;
  resize: none;
  outline: none;
  padding: 0.5rem;
  width: calc(65% - 1rem);
  height: calc(100% - 1rem);
}
.sidebar {
  font-size: 14px;
  width: calc(35% - 1rem);
  height: calc(100% - 1rem);
  background-color: #d5ffd7;
}
.sidebar > .flex-item {
  width: 100%;
}
